GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
HOSTED_DOMAIN=
COOKIE_ENCRYPTION_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_ONE_TIME_PRICE_ID=
STRIPE_SUBSCRIPTION_PRICE_ID=
STRIPE_METERED_PRICE_ID=
BASE_URL=http://localhost:8787